@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://www.jsdelivr.com/package/npm/gotham-pro-font');
@import url("https://db.onlinewebfonts.com/c/369ee63f82b4df895aeed5d40ca5da19?family=Next+Sphere+Medium");


:root {
  --primary-color: #0C4D18;
}

body {
  font-family: 'Mona Sans', sans-serif !important;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Next Sphere Medium";
  font-weight: 500 !important;
  letter-spacing: -1px !important;
  margin: 0px !important;
}

ul li {
  font-size: 17px;
}

ul {
  padding: 0px 0px 0px 20px;
}

p {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.743);
  line-height: 25px;
}

.bigHeading {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
}

.mediumHeading {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
}

.smallHeading{
  font-size: 25px;
  line-height: 1.2;
  font-weight: 500;
}

.sectionPadding {
  padding: 4rem 3rem;
}
.buttonFirst a{
  color: white;
}
.buttonFirst:hover a{
  color: black;
}
.buttonFirst {
  background-color: var(--primary-color);
  color: white !important;
  padding: 12px 20px;
  border-radius: 20px;
  /* border: none; */
  margin-right: 10px;
  margin-top: 10px;
  transition: .5s;
  border: 1px solid transparent;
}

.buttonSecond {
  background-color: transparent;
  color: var(--primary-color);
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  margin-top: 10px;
  transition: .5s;
}

.buttonFirst:hover {
  background-color: transparent;
  color: var(--primary-color) !important;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  margin-right: 10px;
  margin-top: 10px;
  transition: .5s;
  cursor: pointer;
}

.buttonSecond:hover {
  background-color: #0C4D18;
  color: white;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid #0C4D18;
  margin-top: 10px;
  transition: .5s;
  cursor: pointer;
}


@media (max-width: 768px) {
  .sectionPadding {
    padding: 2rem 0.5rem !important;
  }
  .bigHeading {
    font-size: 45px;
    line-height: 1.2;
    font-weight: 500;
  }
  .mediumHeading {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
  }
  .HomeHeroSliderContainer{
    padding: 2rem 0.5rem !important;
  }
}